.container {
  display: grid;
  height: fit-content;
  width: -webkit-fill-available;
  position: relative;
}
.header-container {
  justify-content: space-between;
  height: fit-content;
  align-items: center;
  z-index: 1;
}
.sub-title {
  font-weight: 600;
  font-size: 15px;
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin-left: 15px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  background: linear-gradient(to right, hsl(210, 78%, 56%), hsl(146, 68%, 55%));
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: hsl(232, 19%, 15%);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: hsl(230, 22%, 74%);
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
  background-color: hsl(225, 100%, 98%);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.header-background {
  position: absolute;
  width: -webkit-fill-available;
  height: 250px;
  z-index: 0;
  border-radius: 0px 0px 30px 30px;
}
.overview-label-container {
  font-size: 25px;
  font-weight: 600;
  margin-top: 40px;
}
@media (min-width: 768px) {
  .container {
    padding: 2% 10% 3% 10%;
  }
  .header-container {
    display: flex;
  }

  .title {
    font-size: 28px;
    font-weight: 600;
  }

  .button-container {
    display: flex;
    align-items: center;
  }
  .theme {
    font-weight: 600;
  }

  .total-container,
  .day-container {
    display: flex;
    z-index: 1;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .total,
  .day {
    margin-top: 30px;
  }
}
@media (max-width: 768px) {
  .container {
    padding: 5%;
  }
  .title {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 2%;
  }

  .title-container {
    padding-bottom: 10%;
  }

  .button-container {
    display: flex;
    align-items: center;
    padding-top: 10%;
    justify-content: space-between;
  }
  .theme {
    font-weight: 600;
  }
  .switch {
    height: 30px;
  }
  .slider:before {
    height: 24px;
    width: 24px;
  }
  .total-container,
  .day-container {
    display: grid;
    z-index: 1;
    margin-top: 10%;
  }
  .overview-label-container {
    margin-top: 7%;
  }

  .dark-theme {
    .button-container {
      border-top: 1px hsl(228, 34%, 66%) solid;
    }
  }
  .light-theme {
    .button-container {
      border-top: 1px hsl(228, 12%, 44%) solid;
    }
  }
}

.dark-theme {
  color: white;
  .header-background {
    background-color: hsl(232, 19%, 15%);
  }
  .sub-title {
    color: hsl(228, 34%, 66%);
  }
  .overview-label-container {
    color: white;
  }
}
.light-theme {
  color: black;
  .header-background {
    background-color: hsl(225, 100%, 98%);
  }
  .sub-title {
    color: hsl(228, 12%, 44%);
  }
  .theme {
    color: hsl(228, 34%, 66%);
  }
  .overview-label-container {
    color: hsl(228, 12%, 44%);
  }
}

.darkModeSlider {
  background: linear-gradient(to right, hsl(210, 78%, 56%), hsl(146, 68%, 55%));
}

.lightModeSlider {
  background: hsl(228, 12%, 44%);
}

.switch .lightModeSlider:hover {
  background: linear-gradient(to right, hsl(210, 78%, 56%), hsl(146, 68%, 55%));
}
