<div [ngClass]="isDarkTheme ? 'dark-theme' : 'light-theme'" class="container">
  <div class="header-container">
    <div class="title-container">
      <div class="title">Social Media Dashboard</div>
      <div class="sub-title">Total Followers: 23,004</div>
    </div>
    <div class="button-container">
      <span class="theme">Dark Mode</span>
      <label class="switch">
        <input type="checkbox" (click)="themeChange()" />
        <span
          [ngClass]="isDarkTheme ? 'darkModeSlider' : 'lightModeSlider'"
          class="slider round"
        ></span>
      </label>
    </div>
  </div>
  <div class="header-background"></div>
  <div class="total-container">
    <ng-container *ngFor="let l of totalList">
      <app-total-overview
        class="total"
        [darkTheme]="isDarkTheme"
        [bgColor]="l.bgColor"
        [imgSrc]="l.imgSrc"
        [id]="l.id"
        [subCount]="l.subCount"
        [subLabel]="l.subLabel"
        [icon]="l.icon"
        [todaySub]="l.todaySub"
        [todayLabelColor]="l.todayLabelColor"
      ></app-total-overview>
    </ng-container>
  </div>
  <div class="overview-label-container">Overview - Today</div>
  <div class="day-container">
    <ng-container *ngFor="let d of dayList">
      <app-day-overview
        class="day"
        [darkTheme]="isDarkTheme"
        [action]="d.action"
        [imgSrc]="d.imgSrc"
        [count]="d.count"
        [icon]="d.icon"
        [perc]="d.perc"
        [percColor]="d.percColor"
      ></app-day-overview
    ></ng-container>
  </div>
</div>
